 
        body {
            font-family: Arial, sans-serif;
            background-color: #666;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    
        .container {
            max-width: 640px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgb(210, 255, 196);
            border-radius: 50px;
            box-shadow: 0 0 150px rgb(0, 0, 0);
        }

        h1 {
            color: #00000000;
        }

        p {
            font-size: 20px;
            color: #e40404;
        }

        img {
            max-width: 100%;
            border-radius: 15px;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            background-color: #00000000;
            color: #ff0000;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #c68fb6;
        }
        /* สร้างกรอบสีดำ 1px รอบเนื้อหา <div> */
div {
    border: 15px solid #ffc5c5;
    padding: 10px; /* ใส่ระยะห่างระหว่างเนื้อหาและกรอบ */
}

/* สร้างกรอบสีแดง 2px รอบปุ่ม <button> */
button {
    border: 2px solid red;
    padding: 5px 10px;
    background-color: #fff;
    color: red;
}
